.sorry{
    color:gainsboro;
}

#updateForm{
    display:none;
}

.bttn{
    display: block;
    margin: 5% 20% 2% 20%;
}

.insertTable{
    margin: 0 auto;
}

.back{
    margin-left: 5%;
}

.add{
    margin-top: 5%;
    margin-left: 35%;
}

.entry{
    margin: 5% 5% 5% 5%;
}

body{
    margin-top: 5%;
}